.header
  background-color: white
  padding: 10px 0

  &__logo
    min-width: 120px

  &__container
    display: flex
    align-items: center

  &__controls
    margin-left: auto

  .btn
    margin-left: 50px